/* Fira Sans bold */
@font-face{
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Bold.eot');
    src: url('fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('fonts/fira/woff/FiraSans-Bold.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Bold.woff2') format('woff2'),
         url('fonts/fira/woff2/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* Fira Sans bold italic */
@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot');
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
}
body{
    display: flex;
    flex-direction: column;
    background-color: #03071E;
}
footer{
    margin-top: auto;
    background-color: #003049;
    color: white;
    padding: 20px 20px;
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 6rem;
    height: 40vh;
    background-color: #370617;
    color: #03071E;
    padding-left: 30px;
}
strong{
    background-color: #03071E;;
    color: white;
    padding: 0 20px;
}
.screen{
    padding: 30px 20px;
    margin: 0px 0px;
    min-height: 60px;
    min-width: 400px;
    background-color: rgb(100%, 100%, 100%, 98%);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: last baseline;
    flex: 1 1 auto;
}
.buttons, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    margin: 150px;
}