/* Fira Sans bold */
@font-face{
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Bold.eot');
    src: url('fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('fonts/fira/woff/FiraSans-Bold.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Bold.woff2') format('woff2'),
         url('fonts/fira/woff2/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* Fira Sans bold italic */
@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot');
    src: url('fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
*{
    font-family: "Fira Sans", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #22223B;
    margin: 0px 0px;
    color: #051014;
}
footer{
    margin-top: auto;
    background-color: #F0A202;
    color: #051014;
    padding: 1.46412884334vw 1.46412884334vw;
    text-align: center;
    font-size: 1.17130307467vw;
    height: 1.39092240117vw;
}
.footer-strong{
    background-color:#F0A202;
    padding: 0px 0px;
}
.footer-em{
    padding: 0.14641288433vw 0.36603221083vw;
}

header{
    display: flex;
    max-width: 100vw;
    align-items:last baseline;
    justify-content: flex-start;
    padding-left: 0.5em;
    font-size: 7.02781844802vw;
    height: 18.6230600293vw;
    background-color: #F0A202;
}
em{
    color: white;
    background-color: rgb(0%, 0%, 0%);
    padding: 0.36603221083vw 1.0980966325vw;
}
strong{
    color: #051014;
    background-color: white;
    font-size: 1.17130307467vw;
    padding: 0.36603221083vw 1.0980966325vw;
    border-radius: 2px;
}
.screen{
    padding: 2.19619326501vw 1.46412884334vw;
    margin: 0px auto;
    height: 4.39238653001vw;
    width: 26.3543191801vw;
    background-color: rgb(100%, 100%, 100%, 85%);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items:last baseline;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.2825768668vw;
}
main{
    margin: 0px auto 100px;
    display: flex;
    flex-direction: column;
    background-color: #F0A202;
    padding: 1.46412884334vw;
    border-radius: 5px;
    box-shadow: 0px 0px 100px #F0A202;
    height: 27.0863836018vw;
    width: 29.2825768668vw;
}
.row{
    display: flex;
    min-width: 29.2825768668vw;
    justify-content: center;
}
button{
    display: flex;
    height: 3.66032210835vw;
    width: 7.32064421669vw;
    background-color: rgb(100%, 100%, 100%, 50%);
    color: #070600;
    justify-content: center;
    align-items: center;
    border-style:none;
    transition: 0.1s ease-in-out 0s;
    font-size: 0.97608345534vw;
}
.equals-to{
    font-size: 1.5vw;
}
.hover{
    background-color: #070600;
    color: #F7F7FF;
    cursor: pointer;
    box-shadow: 0px 5px 10px #070600;
    transform: scale(1.001);
}
.spacer{
    aspect-ratio: 900/600;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('./svg-inverese-color/header.svg');
}
.layer2{
    background-image: url('./svg-inverese-color/footer.svg')
}
.clear, .del{
    flex: 1 1 auto;
}
